<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>vergleichbar</title>
</head>
<body class="bg-green-100">

    <div class="flex">
      <div class="bg-gradient-to-r from-blue-200 to-green-200 mb-2 m-8 pb-2 p-6 shadow-lg w-full  rounded-lg border border-gray-200">
          <img alt="Thoughtworks" id="tw-logo" width="153px" height="24px" src="https://www.thoughtworks.com/etc.clientlibs/thoughtworks/clientlibs/clientlib-site/resources/images/thoughtworks-logo.svg"
               title="Thoughtworks" />
          <p class="font-serif text-blue-900 text-xs text-left">
            <span class="font-bold text-red-500">vergleichbar.eu</span> Einfaches Vergleichen von Inzidenzwerten  in unterschiedlichen Städten Europas
          </p>
      </div>
    </div>
<form  method="POST" id="myForm" name="myForm" class="relative ">
  <div class="text-center cursor-pointer ">
        <label for="country" class="text-blue-900 font-bold " >Bitte Erste Stadt eingeben:</label>
        <input id="input1" type="text" name="input1" oninput="vergleich()" class="m-4 border-4 border-double border-light-blue-500 border-opacity-25">
         <label for="country" class="text-blue-900 font-bold " > Bitte Zwite Stadt eingeben:</label>
           <input id="input2" type="text" name="input2" oninput="vergleich()" class="m-4 border-4 border-double border-light-blue-500 border-opacity-25">
  </div>

</form>
    <div class=" ml-20 mr-20 d-lg-none">
<div class="input-group mb-3">
  <label class="input-group-text bg-light text-dark" for="inputGroupSelect01">Stadt 1</label>
  <input type="text"  placeholder="Bitte Erste Stadt eingeben" class="form-control" aria-label="Text input with segmented dropdown button" id="inputGroupSelect01">

</div>

 <div class="input-group mb-3">
   <input type="text"  placeholder="Bitte Zweite Stadt eingeben" class=" form-control text-right " aria-label="Text input with segmented dropdown button " id="inputGroupSelect02">
  <label class="input-group-text bg-light text-dark" for="inputGroupSelect02">Stadt 2</label>
</div>
</div>
    <p for="country" class="text-blue-900 font-bold animate-pulse text-center">Zeitraum wählen</p>
    <div class="text-center cursor-pointer ">
          <button type="button"  value="Heute" onclick="heute()"  class="shadow-lg bg-gradient-to-r from-blue-200 to-green-200 text-blue-900 text-sm font-bold  h-6 w-1/6 rounded-lg text-center">Heute</button>
         <button type="button"  value="Vor 7 Tage" onclick="siebentage()" class="shadow-lg bg-gradient-to-r from-blue-200 to-green-200 text-blue-900 text-sm font-bold h-6 w-1/6 rounded-lg text-center">Vor 7 Tage</button>
    </div>


  <h4 class="font-normal pl-12 text-base text-red-500"  >Inzendenzwert für Ihre Suche:<span class=" text-blue-900" id="b1"></span></h4>
   <div id="resheute"></div>
   <div id="res7t"></div>



</body>

<script>

    function vergleich() {
        var x = document.getElementById("input1").value;
        var y = document.getElementById("input2").value;
        document.getElementById("b1").innerHTML =  " " +x+ " VS " + y;
            }

      function heute() {
         const d = new Date();
         document.getElementById("res7t").innerHTML = "";
         document.getElementById("resheute").innerHTML = "Heute"+"</br>"+ d;
      }
        function siebentage() {
        document.getElementById("resheute").innerHTML = "";
        document.getElementById("res7t").innerHTML = "7Tage";
       }

</script>