<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>vergleichbar</title>
</head>

<body class="bg-green-100">

  <div class="flex">
    <div class="bg-gradient-to-r from-blue-200 to-green-200 mb-0 sm:mb-2 m-2 sm:m-8 pb-0 sm:pb-2 p-1 sm:p-6 shadow-lg w-full  rounded-lg border border-gray-200">
        <img alt="Thoughtworks" id="tw-logo" width="153px" height="24px" src="https://www.thoughtworks.com/etc.clientlibs/thoughtworks/clientlibs/clientlib-site/resources/images/thoughtworks-logo.svg"
             title="Thoughtworks" />
        <p class="font-serif text-blue-900 text-xs text-left">
          <span class="font-bold text-red-500">vergleichbar.eu</span>Einfaches Vergleichen von Inzidenzwerten  in unterschiedlichen Städten Europas
        </p>
    </div>
  </div>
<form  method="post" id="myForm" name="myForm" class="relative" action="" >
  <div class="grid grid-cols-1 place-items-center space-y-4  sm:grid sm:grid-cols-2 sm:justify-items-center gap-x-0 gap-y-0 ">
      <div class="flex flex-col space-y-2  sm:flex sm:flex-row sm:items-center ">
       <label  for="stadt1" class="text-blue-900 font-bold text-sm sm:text-base" >Bitte Erste Stadt eingeben:</label>
       <input  id="stadt1" type="text" name="input1" value="{{suchwort}}" class=" sm:m-4 border-4 border-double border-light-blue-500 border-opacity-25"  required>
          {% if error1 %}
  <div class="text-xs text-red-700">
  Error! {{ error1 }}
  </div>
      {% endif %}
      </div>
      <div class="flex flex-col space-y-2 sm:flex sm:flex-row sm:items-center">
       <label  for="stadt2" class="text-blue-900 font-bold text-sm sm:text-base" > Bitte Zweite Stadt eingeben:</label>
       <input  id="stadt2" type="text" name="input2"  value="{{suchwort2}}" class="sm:m-4 border-4 border-double border-light-blue-500 border-opacity-25" required >
 {% if error2 %}
          <div class="text-xs text-red-700">
      Error! {{ error2 }}
      </div>
       {% endif %}
      </div>

  </div>





    <p for="country" class="text-blue-900 font-bold animate-pulse text-center text-sm sm:text-base">Zeitraum wählen</p>
  <div class="text-center cursor-pointer ">
      <input  type="submit" value="Inzidenzwert"  class="shadow-lg bg-gradient-to-r from-blue-200 to-green-200 text-blue-900 text-sm font-bold h-6 w-1/3 sm:w-1/6 rounded-lg text-center">
  </div>


</form>
<h4 class="font-bold  text-red-500 text-center mt-3 text-sm sm:text-base" >Inzidenzwert für Ihre Suche</h4>

  <div class="col-xs-10 col-sm-6 col-md-6" >
 <div class="card card-style mb-6">
  <div class="card-body">
    <div class="chart-container" style="position: relative;">
         <canvas id="myChart"></canvas>
    </div>
  </div>
 </div>
</div>


  <div class="col-xs-10 col-sm-6 col-md-6" >
 <div class="card card-style mb-0  " >
  <div class="card-body">
    <div class="chart-container" style="position: relative;">
         <canvas id="myChart2"></canvas>
    </div>
  </div>
 </div>
</div>

    <script>


            var ctx = document.getElementById("myChart").getContext("2d");
            var chart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: {{ xwerte | safe }},
                    datasets: [
                        {
                            label: "Inzidenzwerte",
                            data: {{ ywerte | safe }},
                            fill: false,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)'
                            ],
                            borderColor: [
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                },

                options: {
                     title: {
                    display: true,
                   text: 'Inzidenzwert für Heute',
                   },
                    scales: {
                        y: {
                            beginAtZero: false,

                        }
                    }
                }
            });


            var ctx2 = document.getElementById("myChart2").getContext("2d");
            var chart2 = new Chart(ctx2, {
                type: 'line',
			data: {
				labels: ["05","06","07","08","09","10","11"],
				datasets: [{
					label: "{{suchwort}}",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: {{st1}}
				}, {
					label:"{{suchwort2}}",
					borderColor: "#f3545d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#f3545d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: {{st2}}
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: true,
				legend: {
					position: 'top',
				},
				title: {
                    display: true,
                   text: 'Inzidenzwert für 7 Tage',
                   },
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				},
				scales: {
                        y: {

                       ticks: {
                     // forces step size to be 50 units
                       stepSize: 50
                      }
                     }
                    }

			}
		});
      </script>
</body>
</html>
