<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>vergleichbar</title>
</head>

<body class="bg-green-100">

    <div class="flex">
      <div class="bg-gradient-to-r from-blue-200 to-green-200 mb-2 m-8 pb-2 p-6 shadow-lg w-full  rounded-lg border border-gray-200">
          <img alt="Thoughtworks" id="tw-logo" width="153px" height="24px" src="https://www.thoughtworks.com/etc.clientlibs/thoughtworks/clientlibs/clientlib-site/resources/images/thoughtworks-logo.svg"
               title="Thoughtworks" />
          <p class="font-serif text-blue-900 text-xs text-left">
            <span class="font-bold text-red-500">vergleichbar.eu</span> Einfaches Vergleichen von Inzidenzwerten  in unterschiedlichen Städten Europas
          </p>
      </div>
    </div>
<form  method="post" id="myForm" name="myForm" class="relative" action="#" >
    <div class="text-center cursor-pointer ">
         <label  for="stadt1" class="text-blue-900 font-bold " >Bitte erste Stadt eingeben:</label>
         <input  id="stadt1" type="text" name="input1" value="{{suchwort}}" class="m-4 border-4 border-double border-light-blue-500 border-opacity-25">
         <label  for="stadt2" class="text-blue-900 font-bold " > Bitte zweite Stadt eingeben:</label>
         <input  id="stadt2" type="text" name="input2"  value="{{suchwort2}}" class="m-4 border-4 border-double border-light-blue-500 border-opacity-25">
    </div>
      <p for="country" class="text-blue-900 font-bold animate-pulse text-center">Zeitraum wählen</p>
    <div class="text-center cursor-pointer ">
       ´ <input  type="submit" value="Heute"  class="shadow-lg bg-gradient-to-r from-blue-200 to-green-200 text-blue-900 text-sm font-bold h-6 w-1/6 rounded-lg text-center">
         <input  type="submit"  value="Vor 7 Tage"  class="shadow-lg bg-gradient-to-r from-blue-200 to-green-200 text-blue-900 text-sm font-bold h-6 w-1/6 rounded-lg text-center">
    </div>
</form>

   <h4 class="font-normal pl-12 text-base text-red-500"  >Inzidenzwert für Ihre Suche:

       <span class=" text-blue-900" id="b1"></span></h4>


   <ul id="res7t">
       {% for result in results %}
        <li class=" font-bold" >
         {{ result}}
        </li>
       {% endfor %}
   </ul>

</body>